In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv("../data/SourceInfo.csv")

In [3]:
df

,Source,Wikipedia,Year,Twitter,Verified,Popularity,History,Controversy
0,Times of India,1,1838.0,1,1,High,1,1
1,Indian Express,1,1932.0,1,1,Medium,1,0
2,The Wire,1,2015.0,1,1,Low,1,1
3,The Hindu,1,1878.0,1,1,Medium,1,1
4,news18,1,2005.0,1,1,High,1,1
5,FirstPost,1,NaN,1,1,Low,0,0
6,DNA,0,NaN,1,1,Low,0,0
7,Deccan Chronicle,1,1938.0,1,1,Low,0,0
8,Scroll,1,2014.0,1,1,Low,1,0
9,Outlook India,1,1995.0,1,1,Low,1,0
10,The Statesman,1,1875.0,1,1,Low,1,0
11,Republic TV,1,2016.0,1,1,High,1,1
12,NDTV,1,1988.0,1,1,Medium,1,1
13,DD News,1,2003.0,1,1,High,1,0
14,Rajya Sabha TV,1,2011.0,1,1,Low,0,0
15,The Quint,1,2015.0,1,1,Low,1,0
16,Times Now,1,2006.0,1,1,High,0,1
17,The print,1,2017.0,1,1,Medium,1,0
18,Hindustan Times,1,1924.0,1,1,High,1,1
19,India Today,1,2003.0,1,1,High,1,0
20,Organizer,1,1947.0,1,0,Low,1,0
21,National Herald,1,2017.0,1,1,Low,1,1
22,Swarajya,1,2014.0,1,1,Low,1,1
23,Janta ka Reporter,0,NaN,1,1,Low,0,0
24,The Independent,1,1986.0,1,1,Medium,1,0
25,opindia,1,2014.0,1,1,Medium,1,0
26,News Laundry,0,2012.0,1,1,Low,0,0
27,The Tribune,0,1881.0,1,1,Low,0,0
28,Reuters,1,1851.0,1,1,High,1,1
29,The telegraph,1,1982.0,1,1,Medium,1,0
30,Zee News,1,1999.0,1,1,High,0,1

In [4]:
df["SourceScore"]=""

d ={"High":3,"Low":1,"Medium":2}

df['Year'] = df['Year'].fillna(2020)

In [5]:
for i in df.index:
    if(2020-df['Year'][i]>20):
        df["SourceScore"][i]=0.2*df['Wikipedia'][i]+(0.01*20)+0.1*df['Twitter'][i]+0.05*df['Verified'][i]+0.37*d[df['Popularity'][i]]+0.2*df['History'][i]+0.07*df['Controversy'][i]
    else:
        df["SourceScore"][i]=0.2*df['Wikipedia'][i]+0.01*(2020-df['Year'][i])+0.1*df['Twitter'][i]+0.05*df['Verified'][i]+0.37*d[df['Popularity'][i]]+0.2*df['History'][i]+0.07*df['Controversy'][i]

C:\Users\vogir\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\vogir\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [6]:
df

,Source,Wikipedia,Year,Twitter,Verified,Popularity,History,Controversy,SourceScore
0,Times of India,1,1838.0,1,1,High,1,1,1.93
1,Indian Express,1,1932.0,1,1,Medium,1,0,1.49
2,The Wire,1,2015.0,1,1,Low,1,1,1.04
3,The Hindu,1,1878.0,1,1,Medium,1,1,1.56
4,news18,1,2005.0,1,1,High,1,1,1.88
5,FirstPost,1,2020.0,1,1,Low,0,0,0.72
6,DNA,0,2020.0,1,1,Low,0,0,0.52
7,Deccan Chronicle,1,1938.0,1,1,Low,0,0,0.92
8,Scroll,1,2014.0,1,1,Low,1,0,0.98
9,Outlook India,1,1995.0,1,1,Low,1,0,1.12
10,The Statesman,1,1875.0,1,1,Low,1,0,1.12
11,Republic TV,1,2016.0,1,1,High,1,1,1.77
12,NDTV,1,1988.0,1,1,Medium,1,1,1.56
13,DD News,1,2003.0,1,1,High,1,0,1.83
14,Rajya Sabha TV,1,2011.0,1,1,Low,0,0,0.81
15,The Quint,1,2015.0,1,1,Low,1,0,0.97
16,Times Now,1,2006.0,1,1,High,0,1,1.67
17,The print,1,2017.0,1,1,Medium,1,0,1.32
18,Hindustan Times,1,1924.0,1,1,High,1,1,1.93
19,India Today,1,2003.0,1,1,High,1,0,1.83
20,Organizer,1,1947.0,1,0,Low,1,0,1.07
21,National Herald,1,2017.0,1,1,Low,1,1,1.02
22,Swarajya,1,2014.0,1,1,Low,1,1,1.05
23,Janta ka Reporter,0,2020.0,1,1,Low,0,0,0.52
24,The Independent,1,1986.0,1,1,Medium,1,0,1.49
25,opindia,1,2014.0,1,1,Medium,1,0,1.35
26,News Laundry,0,2012.0,1,1,Low,0,0,0.6
27,The Tribune,0,1881.0,1,1,Low,0,0,0.72
28,Reuters,1,1851.0,1,1,High,1,1,1.93
29,The telegraph,1,1982.0,1,1,Medium,1,0,1.49
30,Zee News,1,1999.0,1,1,High,0,1,1.73

In [7]:
df.sort_values(by=['SourceScore'])

,Source,Wikipedia,Year,Twitter,Verified,Popularity,History,Controversy,SourceScore
23,Janta ka Reporter,0,2020.0,1,1,Low,0,0,0.52
6,DNA,0,2020.0,1,1,Low,0,0,0.52
26,News Laundry,0,2012.0,1,1,Low,0,0,0.6
27,The Tribune,0,1881.0,1,1,Low,0,0,0.72
5,FirstPost,1,2020.0,1,1,Low,0,0,0.72
14,Rajya Sabha TV,1,2011.0,1,1,Low,0,0,0.81
7,Deccan Chronicle,1,1938.0,1,1,Low,0,0,0.92
15,The Quint,1,2015.0,1,1,Low,1,0,0.97
8,Scroll,1,2014.0,1,1,Low,1,0,0.98
21,National Herald,1,2017.0,1,1,Low,1,1,1.02
2,The Wire,1,2015.0,1,1,Low,1,1,1.04
22,Swarajya,1,2014.0,1,1,Low,1,1,1.05
20,Organizer,1,1947.0,1,0,Low,1,0,1.07
9,Outlook India,1,1995.0,1,1,Low,1,0,1.12
10,The Statesman,1,1875.0,1,1,Low,1,0,1.12
17,The print,1,2017.0,1,1,Medium,1,0,1.32
25,opindia,1,2014.0,1,1,Medium,1,0,1.35
29,The telegraph,1,1982.0,1,1,Medium,1,0,1.49
24,The Independent,1,1986.0,1,1,Medium,1,0,1.49
1,Indian Express,1,1932.0,1,1,Medium,1,0,1.49
12,NDTV,1,1988.0,1,1,Medium,1,1,1.56
3,The Hindu,1,1878.0,1,1,Medium,1,1,1.56
16,Times Now,1,2006.0,1,1,High,0,1,1.67
30,Zee News,1,1999.0,1,1,High,0,1,1.73
11,Republic TV,1,2016.0,1,1,High,1,1,1.77
13,DD News,1,2003.0,1,1,High,1,0,1.83
19,India Today,1,2003.0,1,1,High,1,0,1.83
4,news18,1,2005.0,1,1,High,1,1,1.88
18,Hindustan Times,1,1924.0,1,1,High,1,1,1.93
28,Reuters,1,1851.0,1,1,High,1,1,1.93
0,Times of India,1,1838.0,1,1,High,1,1,1.93